* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: bisque; */
}

/* .header img{
    border-radius: 50%;
    margin: 15px;
} */
.header {
    
    background-color: #f89d13;
    /* display: flex;
    /* justify-content: center; */
    /* text-transform: uppercase;
    padding-top: 10px; */ 
}

.header img{
    border-radius: 50%;
    padding: 15px;
}

.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header a {
    padding: 5px;
    font-size: 20px;
    
}

.header li {
    display: inline;
    list-style-type: none;
    
    
}

.cuadradoAnimado {
    background: brown;
    height: 200px;
    width: 200px;
    animation-name: mianimacion;
    animation-duration: 4s;
    animation-delay: 2s;
    
}

@keyframes mianimacion {
    0% {background: #aaa;}
    25% {background: red;}
    50% {background: green;}
    75% {background: pink;}
    100% {background: blue;}
}

.box{
    border-radius: 10px;
    height: 40px;
    width: 80px;
    margin: 60px auto;
}

.box1{
    background-color: blueviolet;
}

.box2{
    background-color: cadetblue;
}

.box:hover{
    transform: scale(4);
    
}

.box2{
    transition-property: all;
    transition-duration: 2s;
}
