* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #B10A0A;
    
}

.colorNav {
    background-color: #0C5101;
}

.nav-link:hover{
    background-color: rgba(32, 69, 75, 0.309);
    
}

.card {
    transition: transform 550ms;
}

.card:hover{
      
    transform:  translateY(-2px)
}


.card-body:hover {
    background-color: rgba(32, 69, 75, 0.309);
    /* transition: 300ms ease;     */
    
}

.card-footer:hover{
    background-color: rgb(34, 46, 46);
}



.divMapa {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
   width: 450px;
   height: 320px;
   border-radius: 15px;
}

.productosMenu {
    display: flex;
    justify-content: center;
}


.btn {
    /* width: 100px; */
    height: 30px;
    /* border-radius: 50%; */
    border: none;
    background: slateblue;
    /* color: white; */
    /* font-size: 20px; */
    /* font-weight: 500; */
    line-height: 1;
  }
  
 .btn:hover {
    transform: translateY(-1px);
    
  }

